.navbar {
    background-color: royalblue;
    padding: 15px;
    height: 80px;
    display: flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(40, 39, 39);
    box-shadow: 10px 10px 20px rgb(22, 22, 23);
}

.navbar-toggle {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* Media query for screens smaller than 768px (typical phones) */
@media only screen and (max-width: 768px) {
    .navbar-toggle {
        display: block; /* Show on smaller screens */
    }

    .nav-list {
        display: none; /* Hide the links by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 70px; /* Adjust as needed based on your design */
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px;
    }

    .nav-list.show {
        display: flex; /* Show the links when the class 'show' is added */
    }
}

body {
    background-image: url('/login/img/logo.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
    padding: 20px;
    text-align: center;
}

form {
    background-color: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adding a shadow effect */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 15px;
}